@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chicle&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oi&family=Purple+Purse&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Coiny&family=Oi&family=Purple+Purse&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  user-select: none;
}

/* Menghilangkan efek tap biru pada elemen yang mendapatkan fokus */
body:focus {
  outline: none;
}



:root {
  --gold-color: #FACA78;
  --dark-bg: #faf6e7 --medium-bg: #794A3A;
  --light-bg: #e5e5e5;
  --grey-text: #794A3A;
  --white: #794A3A;
}

/* CSS untuk Dark UI Aplikasi Restoran Elegan dengan Warna Emas */

body {
  color: var(--grey-text);
  font-family: Open Sans, Helvetica, sans-serif;
  background-color: #ffff;
}



.container {
  margin: 0 auto;
  background-color: var(--dark-bg);
  opacity: 0.8;
  min-height: 100vh;
  overflow: hidden;
}

.greeting-container h1 {
  font-family: "Lobster Two", sans-serif;
  font-size: 50px;
  background: #fff;
  background-image: radial-gradient(at 85.4% 36.8%, hsl(348, 61%, 77%) 0px, transparent 50%), radial-gradient(at 22.6% 78.0%, hsl(198, 54%, 74%) 0px, transparent 50%), radial-gradient(at 20.0% 27.8%, hsl(43, 90%, 75%) 0px, transparent 50%), radial-gradient(at 73.7% 85.9%, hsl(43, 90%, 75%) 0px, transparent 50%), radial-gradient(at 41.8% 55.2%, hsl(43, 90%, 75%) 0px, transparent 50%)
}

.grad-container {}

.grad {
  background-color: #f9d997;
  max-width: 480px;
}


.record {
  position: relative;
  top: -200px;
  width: 100%;
  animation: spin 4s linear infinite;
}

.circle-text {
  text-align: center;
  position: relative;
  top: -20em;
  margin-bottom: -15em;
}

.circle-text span {
  font-family: "Oi", serif;
  font-size: 30px;
  color: #faf6e7;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: #000000;
  -webkit-text-fill-color: #e43d31;
}

.circle-text p {
  -webkit-text-fill-color: #e43d31;
  font-family: "Coiny", system-ui;
}

/* Gaya umum untuk kontainer pencarian */
.header-home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #faf6e7;
  border-bottom: 2px solid #ccc;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  max-width: 480px;
}

.header-left,
.header-right {
  font-size: 24px;
  border: 1px solid;
  border-radius: 50px;
  padding: 3px 10px;
}

.header-center {
  flex-grow: 1;
  text-align: center;
}

.header-center img {
  max-width: 150px;
  border: 4px solid #ccc;
  border-radius: 50%;
}

.search-category-container {
  display: inline-flex;
  align-items: center;
  margin: 20px;
}

.search {
  margin-right: 10px;
}

.search-form {
  display: inline-flex;
  height: 56px;
  background-color: #faf6e7;
  border: 1px solid #000;
  color: #000;
  border-radius: 5px;
  padding: 15px;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.105px;
}

.search-input {
  border: none;
  outline: none;
  color: var(--white);
  background-color: #faf6e7;
  font-family: "Coiny", system-ui;
  text-transform: uppercase;
}

.category-filter {
  height: 56px;
  border: none;
  outline: none;
  text-align: left;
  background-color: #faf6e7;
  border: 1px solid #000;
  color: #000;
  padding: 8px 30px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 5px;
  font-family: "Coiny", system-ui;
  text-transform: uppercase;
}


.recommendations {
  position: absolute;
  z-index: 1;
  list-style: none;
  padding: 0;
  border-top: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  width: auto;
  color: var(--white);
  background-color: #faf6e7;
  z-index: 1;
  display: none;
  max-height: 250px;
  overflow-y: scroll;
  border: 1px solid #000;
}

.recommendations li:hover {
  background-color: #fa7634;
}

.recommendations li {
  display: flex;
  padding: 10px 100px;
  cursor: pointer;
  border: 0.5px solid #000;
  text-align: left;
}

.recommendations li:hover {
  background-color: var();
}


.product-list {
  display: grid;
  grid-template-columns: repeat(2, minmax(110px, 1fr));
  position: relative;
}

.product-item {
  text-align: center;
  border: 1px solid #000;
  background-color: #faf6e7;
  width: 100%;
  padding: 10px;
}



/* Styles for the product card */

.product-card {}

.shape-star {
  background-color: #e89fae;
  color: #000;
  border: 1px solid #000;
  position: relative;
  top: -15px;
  left: 75px;
  padding: 5px 30px;
  transform: rotate(6deg);
  display: inline-block;
  font-size: 12px;
  font-weight: 600;
  font-family: "Coiny", system-ui;
}

.product-image {
  max-width: 100%;
  width: 100%;
  width: 150px;
  height: 150px;
  flex-shrink: 0;
  margin-bottom: 5px;
  object-fit: cover;
  border: 1px solid var(--white);
  border-radius: 50%;
  border: 2px solid #000;
}

.product-nama {
  font-size: 20px;
  margin: 0;
  color: #000;
  text-align: left;
  line-height: 1.4;
  font-family: "Chicle", serif;
  font-family: "Purple Purse", serif;
}

.product-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  margin-top: 5px;
  font-family: "Coiny", system-ui;
}

.product-info span {
  display: flex;
  align-items: center;
}

.star-icon {
  color: var(--gold-color);
  /* Warna ikon bintang */
  margin-right: 5px;
}

.clock-icon {
  color: var(--gold-color);
  /* Warna ikon jam */
  margin-right: 5px;
}

.container-details {
  overflow: hidden;
  position: fixed;
  overflow-y: auto;
  z-index: 999999999;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  margin: auto;
  background-color: var(--dark-bg);
  /* Untuk menempatkan di tengah secara horizontal */
}

.con-details {

  height: 100vh;
}

.container-details::-webkit-scrollbar {
  width: 8px;
}

.container-details::-webkit-scrollbar-track {
  background-color: var(--dark-bg);
}

.container-details::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

.container-details::-webkit-scrollbar-thumb:hover {
  background-color: var(--gold-color);
}


/* Style untuk container utama */
.student-details-container {
  display: flex;
  flex-wrap: wrap;
  background-image: linear-gradient(#f7d098 2.6px, transparent 2.6px), linear-gradient(90deg, #f7d098 2.6px, transparent 2.6px), linear-gradient(#f7d098 1.3px, transparent 1.3px), linear-gradient(90deg, #f7d098 1.3px, #FAEBCC 1.3px);
  background-size: 65px 65px, 65px 65px, 13px 13px, 13px 13px;
  background-position: -2.6px -2.6px, -2.6px -2.6px, -1.3px -1.3px, -1.3px -1.3px;
  padding: 20px;
}

/* Style untuk setiap bagian detail siswa */
.student-details-section {
  flex: 1 1 50%;
  /* 50% width on large screens, full width on small screens */
  padding: 20px;
  background-color: #f7d098;
  margin: 10px;

}

/* Style untuk judul setiap bagian */
.section-title {
  font-size: 15px;
  margin-bottom: 10px;
  color: #333;
  background-color: #68C7C1;
  border: 4px solid #794A3A;
  padding: 10px;

}

/* Style untuk detail siswa */
.detail {
  margin-bottom: 10px;
  color: #794A3A;
  font-size: 12px;
}

/* Style untuk daftar prestasi dan kegiatan */
.detail-list {
  list-style: none;
  padding: 0;
}

.detail-list li {
  margin-bottom: 5px;
  color: #555;
  font-size: 12px;
}

/* Hover effect untuk daftar prestasi dan kegiatan */
.detail-list li:hover {
  color: #000;
  cursor: pointer;
}

/* Animasi ketika hover pada bagian detail */
.student-details-section:hover {
  transform: translateY(-5px);
  transition: transform 0.3s ease;
}

/* Responsif untuk layar kecil */
@media (max-width: 768px) {
  .student-details-section {
    flex: 1 1 100%;
    /* Full width on small screens */
  }
}

.clear {
  clear: both;
}

.id-card-holder {
  width: 100%;
  margin: 0 auto;
}

.id-card {
  background-color: #DCDFCA;
  padding: 0px;
  display: block;
  border-radius: 12px;
  overflow: hidden;
  border: 3px solid #794A3A;
}

.header {
  padding: 10px;
  background-color: #E58D3C;
  text-align: left;

}

.header img {
  width: 30px;

  float: left;
}

.header p {
  text-align: left;
  font-size: 16px;
  font-weight: 600;
}

.id {
  display: inline-block;
  float: left;
  font-size: 15px;
  text-transform: uppercase;
  color: #fff;
  margin-left: 60px;
}

.b-border {
  height: 2px;
  display: block;
  background-color: #E58D3C;
  margin-top: 1px;
}

.card-detail {
  width: 100%;
  display: flex;
  padding: 10px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

.stu-photo {
  float: left;
  width: 100px;
}

.stu-photo img {
  width: 100%;
  border: 1px solid #4a0a2c;
  border-radius: 5px;
}

.stu-info {
  float: left;
  width: calc(100% - 100px);
  padding: 0 10px;
  box-sizing: border-box;
  text-align: left;
  text-transform: capitalize;
}

.stu-info h3 {
  font-size: 15px;
  margin: 0 0 10px 0;
  padding: 5px 15px;
  background-color: #4a0a2c9e;
  border-radius: 70px;
  text-align: center;
  color: #fff;
  border: 1px solid #4a0a2cfc;
}

.stu-info p {
  font-size: 12px;
  margin: 0 0 5px 0;
  font-weight: 300;
}

.stu-info p span {
  font-weight: 600;
  text-transform: uppercase;
}

footer {
  padding: 5px 0;
  border-top: 1px solid #000;
}

footer p {
  font-size: 7px;
  margin: 0 0 2px 0;
}



.header-details {

  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}


.header-details .left {
  flex: 1;
  text-align: left;
  text-decoration: none;
}

.header-details .right {
  flex: 1;
  text-align: right;
}

.header-details a {
  text-decoration: none;
  color: var(--white);
}

.header-details .right a:last-child {
  margin-left: 0;
}

.product-details-container {
  margin: 20px;
}


.product-details-image {}

.product-details-image img {}

.product-details-new {
  background-color: #794A3A;

}


.product-details-new:before {}

/* The rest of your existing styles */
.image-ratio {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: -20px;
  background-color: #ffffff;
  padding: 15px;
  transform: rotate(6deg);

  text-align: center;
}

.image-ratio:before {}

.image-ratio .ratio-inner {}

.image-ratio .ratio-inner img {
  width: 400px;
  height: 400px;
  object-fit: cover;



}





.umzo img {
  width: 50px;
}


.product-details-nama {
  color: var(--white);
  font-size: 20px;
}

.play-button {
  width: 100%;
  background-color: var(--gold-color);
  display: block;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 10px 20px;
  border: none;
  font-weight: 600;
  margin-bottom: 10px;
  border-radius: 10px;
}

.product-details-info {
  font-size: 15px;
  list-style: none;
}



.product-container {
  display: flex;
  /* Horizontal layout */
  overflow-x: auto;
}

.container h1 {
  font-size: 17px;
  margin-left: 10px;
  color: var(--white);
}


.product-card-ctg {

  width: 250px;
  /* Atur lebar kartu sesuai kebutuhan */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.product-image-ctg {
  max-width: 100%;
  width: 250px;
  height: 150px;
  border-radius: 10px;
  object-fit: cover;
}

.product-nama-ctg {
  margin-top: 8px;
  font-size: 17px;
  color: var(--white);
}

.product-info-ctg {
  margin-top: 10px;
  font-size: 14px;
  color: var(--grey-text);
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* Jumlah baris maksimum */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}


.product-container::-webkit-scrollbar {
  width: 20px;
}

.product-card-ctg::-webkit-scrollbar-track {
  background-color: var(--dark-bg);
}

.product-ctg::-webkit-scrollbar-thumb {
  background-color: var(--dark-bg);
  border-radius: 5px;
}

/* Gaya untuk elemen ".section-category" */
.section-category-beef,
.section-category-kategori1 {
  margin-bottom: 20px;
}

/* Gaya untuk elemen ".title-container" */
.title-container {
  display: flex;
  justify-content: space-between;
  /* Mengatur elemen pada ujung kiri dan kanan */
  align-items: center;
  /* Mengatur elemen secara vertikal berada di tengah */
}

/* Gaya untuk elemen "See All" */
.see-all {
  font-size: 14px;
  color: var(--gold-color);
  margin-right: 10px;
}




#tabs {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--medium-bg);
  display: flex;
  justify-content: space-around;
  z-index: 999;
  max-width: 480px;
}

.tab {
  color: #777;
  text-align: center;
  flex: 1;
  padding: 10px;
  cursor: pointer;
  transition: color 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #faf6e7;
  border-top: 2px solid #ccc;
}

.tab i {
  font-size: 24px;
  margin-bottom: 5px;
}

.tab i.active {
  background-color: #68C7C1;
}


.tab.active {
  color: #FACA78;

  position: relative;

}



/* Styling for the alternate product list */
#alternateProductList {
  margin: 20px;
}

/* Styling for each individual product item */
.alternate-product-item {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}


/* Styling for the product card within each item */
.alternate-product-card {
  text-align: left;
  margin-top: auto;
  display: inline-block;
  box-sizing: content-box;

  position: relative;
  width: 370px;
  height: 362px;
  padding: 1em;
  color: #000;
  font-size: 16px;
  background-size: 51% 100%;
  background-repeat: no-repeat;
  background-image: radial-gradient(circle at 0 0%, rgba(255, 255, 224, 0) 19px, #f3f1c9 20px), radial-gradient(circle at 100% 60%, rgba(255, 255, 224, 0) 19px, #f3f1c9 20px);
  background-position: top left, top right;
}

/* Styling for the product image */
.alternate-product-image {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
  background-color: #333333;
}

/* Styling for the product details */
.alternate-product-details {
  order: 1;
  padding: 10px;
  text-align: left;
}

/* Styling for the product nama */
.alternate-product-nama {
  font-size: 17px;
  color: var(--white);
  margin: 0;
  font: 900 10px/1 'Old Standard TT';
}

.alternate-product-dit {
  position: relative;
  z-index: 1;
  top: -50px
}

.alternate-product-category {
  display: inline-block;
  font-size: 12px;
  color: var(--white);
  padding: 8px 15px;
  position: relative;
  z-index: 1;
  top: -50px;
  right: -10px;
  border-radius: 50px;
  background-color: rgba(0, 0, 0, 0.241);
  backdrop-filter: blur(5px);
}

/* Styling for the product price */
.alternate-product-info {
  font-size: 15px;
  color: var(--grey-text);
  margin: 5px 0;
}

.quote-container {
  position: relative;
  width: 100%;
  height: auto78zgt;
  background-color: #f0f0f0;
  border: 2px solid #794A3A;
}

.bubble-chat {
  position: relative;
  margin: 10px;
  padding: 10px;
  background-color: #7fd8be;
  animation: bubbleChat 5s ease infinite;
  border: 3px solid #794A3A;

  align-items: center;
  justify-content: center;
}

.bubble-chat img {
  width: 40px;
  height: 40px;
  float: left;
  position: absolute;
  top: -25px;
  left: -20px;
  object-fit: cover;
  border: 3px solid #794A3A;
  margin-right: 20px;
  z-index: 5;
}


@keyframes bubbleChat {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }

  10%,
  90% {
    transform: translateX(0);
    opacity: 1;
  }

  100% {
    transform: translateY(100%);
    opacity: 0;
  }
}



@media screen and (min-width: 500px) {
  .container {
    max-width: 480px;
  }

  .container-details {
    max-width: 480px;
    /* Tambahkan max-width di sini */
  }

  #tabs {
    max-width: 480px;
    margin: 0 auto;
    /* Membuat container berada di tengah halaman */
    background-color: var(--warna-terang);
    display: flex;
  }
}